.transactionTable {
    width: 100%;
    border-collapse: collapse;
  }
  
  .transactionHeader {
    font-weight: bold;
    text-align: center;
    padding: 12px;
    border-right: 1px solid #ddd;
    background-color: #171616;
    color: #f8f5f5;
  }
  
  .transactionRow:nth-child(even) {
    background-color: #948484;
    color: #f8f5f5;
  }
  
  .transactionCell {
    padding: 12px;
    border: 1px solid #ddd; 
  }
  
